<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="client" class="ru.isf.mortgage.entity.Client"></bean>
    <bean id = "request" class="ru.isf.mortgage.entity.Request"></bean>
    <bean name = "clientService" class="ru.isf.mortgage.service.ClientServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="clientDao"/>
    </bean>
    <bean name = "requestService" class="ru.isf.mortgage.service.RequestServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="requestDao"/>
    </bean>
    <bean name="clientDao" class="ru.isf.mortgage.repo.ClientDaoImpl"></bean>
    <bean name="requestDao" class="ru.isf.mortgage.repo.RequestDaoImpl"></bean>
</beans>